.h5p-portfolio-chapter-content {
  width: 100%;

  .h5p-portfolio-chapter-content-content-row {
    display: flex;
    flex-direction: column;
    margin: 1em;

    .h5p-portfolio-chapter-content-content {
      width: 100%;
    }
  }
}
